<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ROMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="cloudurl" value="http://cloud.shivasoftwares.com"/>
    <add key="cloudactivationurl" value="http://cloud.shivasoftwares.com/Activation"/>
  </appSettings>
    <applicationSettings>
        <ROMS.Properties.Settings>
            <setting name="ROMS_ActivationService_ActivationService" serializeAs="String">
                <value>http://cloud.shivasoftwares.com/activation/ActivationService.svc</value>
            </setting>
        </ROMS.Properties.Settings>
    </applicationSettings>
</configuration>
